@charset "utf-8";

/******************* 회사소개 *******************/
/* 브랜드 */
.brand div[class*="brand0"],
.brand div[class*="brand0"] > .inner-wrap {display:flex;justify-content:flex-start;align-items:flex-start;}
.brand div[class*="brand0"] .headline-xs {flex-basis:40.8rem;padding-right:10.8rem;line-height:1.35;letter-spacing:-.032rem;word-break:keep-all;}
.brand div[class*="brand0"] .title-lg {font-weight:var(--font-semibold);letter-spacing:-.024rem;line-height:1;flex-shrink:0;}
.brand div[class*="brand0"] .group {flex-basis:calc(120.0rem - 40.8rem);}
.brand div[class*="brand0"] .body-txt {font-size:var(--font-txt18);line-height:1.5;}
.brand div[class*="brand0"] span {display:block;}
.brand .white-box, .brand .gray-box {padding:3.2rem;}

.brand01 .txt18 > .MbBlock {display:inline;}
.brand01 .box.option-bg.option-half {gap:3.0rem;}
.brand01 .box.option-bg.option-half .title-h3 > .txt {font-size:var(--font-title24);}
.brand01 .box.option-bg.option-half .txt16 {font-weight:var(--font-regular);color:var(--color-txt01);}

.brand02 .headline-xs > .txt18 {color:var(--color-txt02);font-weight:var(--font-regular);line-height:1.5;margin-top:2.0rem;}
.brand02 .white-box {margin-bottom:2.4rem;display:flex;justify-content:flex-start;align-items:flex-start;gap:3.0rem;}
.brand02 .white-box + .white-box {margin-bottom:0;}
.brand02 .white-box .body-txt {font-size:var(--font-txt16) !important;}
.brand02 .list.depth-u1 > li::before {background-color:var(--color-txt02);}

/* 브랜드 - History */
.brand03 .history-list {margin-top:6.0rem;}
.history-list li {display:flex;justify-content:flex-start;align-items:flex-start;}
.history-list > li {padding-bottom:5.2rem;position:relative;}
.history-list > li:last-child {padding-bottom:0;}
.history-list > li:before {content:'';position:absolute;top:.1rem;left:10.0rem;display:block;width:.2rem;height:100%;background-color:var(--color-bg-grey04);}
.history-list > li:last-child:before {height:1.6rem;}
.history-list .year {font-size:var(--font-title24);color:var(--color-txt01);font-weight:var(--font-semibold);letter-spacing:-.024rem;line-height:1.05;min-width:10.3rem;padding-right:4.0rem;margin-right:4.0rem;}
.history-list ul > li {font-size:var(--font-txt16);font-weight:var(--font-regular);line-height:1.35;margin-bottom:1.6rem;padding-top:.2rem;color:var(--color-txt01);word-break:keep-all;position:relative;}
.history-list ul > li:last-child {margin-bottom:0;}
.history-list ul > li:after {content:'';position:absolute;left:-5.2rem;top:.3rem;display:block;width:1.2rem;height:1.2rem;border:.4rem solid var(--color-primary);background-color:var(--color-white);border-radius:100%;}
.history-list .month {font-weight:var(--font-semibold);margin-right:1.2rem;min-width:2.2rem;font-size:var(--font-txt16);}
.history-list .opacity .year,
.history-list .opacity ul > li {color:var(--color-txt04);}
.history-list .opacity ul > li:after {border-color:var(--color-bg-blue04);}

/* 브랜드 - 주요 Business */
.brand .cont-list > li {margin-bottom:6.0rem;}
.brand .cont-list > li:last-child {margin-bottom:0;}
.brand .cont-list .title-lg {margin-bottom:1.6rem;}
.brand .cont-list .body-txt {font-size:var(--font-txt16) !important;}
.brand .cont-list .icon-box.icon-list {margin-top:3.2rem;}
.brand .icon-box.icon-list {display:flex;justify-content:flex-start;gap:2.4rem;flex-wrap:wrap;}
.brand .icon-box.icon-list > li {padding:2.0rem 0;text-align:center;min-width:18.0rem;min-height:14.0rem;display:flex;justify-content:center;align-items:center;flex-direction:column;}
.brand .icon-box.icon-list > li::before {content:'';display:inline-block;margin-bottom:1.6rem;width:var(--icon-48-xl);height:var(--icon-48-xl);background-repeat:no-repeat;background-image:var(--bg-url-48-xl-hpg);background-size:var(--bg-size-48-xl-hpg);}
.brand .icon-box.icon-list > li span {font-size:var(--font-txt16);color:var(--color-txt01);font-weight:var(--font-semibold);line-height:1.3;word-break:keep-all;}
/* 브랜드 - 주요 Business - Automotive icon */
.brand .cont-list > li:nth-child(1) .icon-list > li:nth-child(1)::before {background-position:-59.8rem -7.2rem;}
.brand .cont-list > li:nth-child(1) .icon-list > li:nth-child(2)::before {background-position:-29.8rem -14.4rem;}
.brand .cont-list > li:nth-child(1) .icon-list > li:nth-child(3)::before {background-position:-37.3rem -14.4rem;}
.brand .cont-list > li:nth-child(1) .icon-list > li:nth-child(4)::before {background-position:-44.8rem -14.4rem;}
/* 브랜드 - 주요 Business - 일반보험 icon */
.brand .cont-list > li:nth-child(3) .icon-list > li:nth-child(1)::before {background-position:-67.6rem 0;}
.brand .cont-list > li:nth-child(3) .icon-list > li:nth-child(2)::before {background-position:.4rem -7.2rem;}
.brand .cont-list > li:nth-child(3) .icon-list > li:nth-child(3)::before {background-position:-7.2rem -7.2rem;}
.brand .cont-list > li:nth-child(3) .icon-list > li:nth-child(4)::before {background-position:.4rem 0;}

/* 신한 SOL EZ손보 APP 이미지 */
.brand .cont-list .white-box.option-half {display:flex;justify-content:flex-start;align-items:center;padding:3.2rem;gap:3.0rem;border-radius:var(--radius-16-lg);}
.brand .cont-list .white-box .solez-app {width:7.0rem;position:relative;flex-shrink:0;}
.brand .cont-list .white-box .solez-app::before {content:'';display:block;width:7.0rem;height:7.0rem;background-repeat:no-repeat;background-image:url(../images/solez-app-img.png);background-size:100%;border-radius:var(--radius-12-lg);}

/* 브랜드 - BI 소개 및 다운로드 */
.brand05 .gray-box {display:flex;flex-direction:column;justify-content:center;align-items:center;gap:3.2rem;}
.brand05 .logo-img img {width:40.0rem;height:7.2rem;}
.brand05 .btn {min-width:17.8rem;}
.brand05 .btn > span {display:inline-block !important;}

/* 사회공헌 */
.contribution .headline-xs {line-height:1.35;letter-spacing:-.032rem;word-break:keep-all;}
.contribution .txt18 {font-size:var(--font-txt18);line-height:1.5;margin-top:1.6rem;word-break:keep-all;}
.contribution .txt18 + .headline-xs,
.contribution .line-box-wrap + .headline-xs,
.contribution .pic-list + .headline-xs {margin-top:8.0rem;}
.contribution .line-box-wrap > li img {width:8.0rem;}
.contribution .line-box-wrap > li .title-h4 {margin-top:2.4rem;word-break:keep-all;}
.contribution .line-box-wrap > li .txt16 > span {display:block;}
.contribution .line-box-wrap > li .txt16 > span > strong {font-size:var(--font-txt18);}
.contribution .pic-list {margin-top:3.2rem;}
.contribution .pic-list > li img {max-width:58.8rem;}


/* 제휴문의 */
.partnership .headline-xs {line-height:1.35;letter-spacing:-.032rem;word-break:keep-all;}
.partnership .headline-xs > span {display:block;}
.partnership .txt18 {margin:2.4rem 0 4.0rem;font-size:var(--font-txt18);line-height:1.5;margin-top:1.6rem;word-break:keep-all;}
.partnership .card.option-step3 .card-title .key,
.partnership .card.option-step3 .card-title .txt {line-height:1 !important;}
.partnership .card-item.step-type1 .card-title:before {background-position:0 0;}
.partnership .card-item.step-type2 .card-title:before {background-position:-11.9rem 0;}
.partnership .card-item.step-type3 .card-title:before {background-position:-23.9rem 0;}

/* 신한 WAY2.0 */
.shinhanezWay .headline-xs {margin-top:6.0rem;}
.shinhanezWay .headline-xs:first-child {margin-top:0;}
.shinhanezWay .headline-xs + .title-lg {margin-top:1.0rem;}
.contribution .line-box,
.shinhanezWay .line-box,
.coreValue .line-box {text-align:center;}
.contribution .line-box-wrap,
.shinhanezWay .line-box-wrap,
.coreValue .line-box-wrap {display:flex;justify-content:center;align-items:center;}
.contribution .line-box-wrap.option-row,
.shinhanezWay .line-box-wrap.option-row,
.coreValue .line-box-wrap.option-row {flex-direction:row;gap:2.4rem;}
.contribution .line-box-wrap > li,
.shinhanezWay .line-box-wrap > li,
.coreValue .line-box-wrap > li {width:33.33%;}
.shinhanezWay .line-box-wrap > li img,
.coreValue .line-box-wrap > li img {width:12.0rem;}
.shinhanezWay .line-box-wrap > li .title-h4,
.coreValue .line-box-wrap > li .title-h4 {margin-top:.8rem;word-break:keep-all;}
.contribution .line-box-wrap > li .txt16,
.shinhanezWay .line-box-wrap > li .txt16,
.coreValue .line-box-wrap > li .txt16,
.vision .line-box-wrap > li .txt16 {display:block;word-break:keep-all;margin:.8rem auto 0;font-weight:var(--font-regular);color:var(--color-txt02);}
.shinhanezWay .line-box-wrap > li:nth-child(1) .txt16,
.coreValue .line-box-wrap > li:nth-child(1) .txt16 {width:15.0rem;}
.shinhanezWay .line-box-wrap > li:nth-child(2) .txt16,
.coreValue .line-box-wrap > li:nth-child(2) .txt16 {width:13.0rem;}
.shinhanezWay .line-box-wrap > li:nth-child(3) .txt16,
.coreValue .line-box-wrap > li:nth-child(3) .txt16 {width:14.0rem;}

/* 미션 */
.mission .txt18 > span {display:block;}
.mission .txt18 {margin-top:2.4rem;}
.mission .img-wrap {margin:6.0rem 0;}
.mission .line-box {text-align:left;}
.mission .line-box-wrap.option-column {flex-direction:column;gap:2.4rem;}
.mission .line-box-wrap.option-column > li {width:100%;display:flex;justify-content:space-between;align-items:flex-start;}
.mission .line-box-wrap.option-column > li:first-child {align-items:center;}
.mission .line-box-wrap.option-column > li .title-h2 {width:20.0rem;word-break:keep-all;line-height:1.5;margin-top:0;margin-bottom:0;}
.mission .line-box-wrap.option-column > li .txt16 {width:calc(100% - 3.2rem - 20.0rem);margin:0;line-height:1.5 !important;word-break:keep-all;}
.mission .line-box-wrap.option-column > li .txt16 > span,
.vision .line-box-wrap.option-column > li .txt16 > span {display:block;}

/* 핵심가치 */
.coreValue .line-box {text-align:center;}

/* 비전 */
.vision .txt18 {margin-top:2.4rem;}
.vision .img-wrap {text-align:left !important;margin-bottom:6.0rem;}
.vision .line-box-wrap.option-column {margin-top:6.0rem;}
.vision .line-box-wrap.option-column > li {width:100%;display:flex;justify-content:space-between;align-items:flex-start;}
.vision .line-box-wrap.option-column img {max-height:3.8rem;}
.vision .line-box-wrap.option-column .title-h4 {width:calc(100% - 3.2rem - 20.0rem);margin:0;}
.vision .line-box-wrap.option-column .title-h4 > span {display:block;}
.vision .line-box-wrap.option-column > li .txt16 {width:100%;margin-top:.4rem;}

.mission .headline-xs,
.vision .headline-xs {word-break:keep-all;}
.shinhanezWay .title-lg,
.coreValue .title-lg,
.vision .title-lg {font-weight:var(--font-semibold);letter-spacing:-.024rem;line-height:1.35;color:var(--color-txt01);word-break:keep-all;}
.mission .title-sm,
.vision .title-sm {margin-top:1.6rem;color:var(--color-txt01);word-break:keep-all;}
.contribution .line-box,
.shinhanezWay .line-box,
.mission .line-box,
.coreValue .line-box,
.vision .line-box {margin-top:2.4rem;padding:3.2rem;}


/******************* 보험금 청구안내 *******************/
.insuranceClaim .card-item.step-type1:before {background-position:-35.9rem 0;}
.insuranceClaim .card-item.step-type2:before {background-position:-47.9rem 0;}
.insuranceClaim .card-item.step-type3:before {background-position:-11.9rem 0;}
.insuranceClaim .card-item.step-type4:before {background-position:-59.9rem 0;}
.insuranceClaim .card-item.step-type5:before {background-position:0 0;}
.insuranceClaim .card-item.step-type6:before {background-position:-10.0rem 0;}
.insuranceClaim .card-item.step-type7:before {background-position:-20.3rem 0;}


/******************* 상품안내 *******************/
.visual-wrap {height:38.6rem;}
.visual-body {display:flex;flex-direction:column;align-items:flex-start;justify-content:center;position:relative;width:var(--width-1200);height:100%;margin:auto;}
.visual-prd {position:absolute;}
.visual-prd.device-mo {display:none;}
.visual-wrap .txt-cont {position:relative;display:flex;flex-direction:column;gap:var(--space-8-xxs);}
.visual-wrap .txt-cont span {font-size:var(--font-title24);font-weight:var(--font-semibold);letter-spacing:-.1rem;line-height:normal;}
.visual-wrap .txt-cont strong {font-size:4rem;font-weight:var(--font-semibold);color:var(--color-txt01);letter-spacing:-.1rem;line-height:5.4rem;word-break:keep-all;}
.visual-wrap .prd-list {position:relative;display:flex;flex-direction:row;gap:.8rem;margin-top:var(--space-12-xs);}
.visual-wrap .prd-list > li {height:2.6rem;line-height:normal;padding:.4rem .8rem;font-size:var(--font-txt14);font-weight:var(--font-medium);color:#313749;border:var(--line-1-sm) solid rgb(105 112 130 / 30%);border-radius:.6rem;}
.visual-wrap .txt-refer {position:relative;display:flex;flex-direction:column;font-size:var(--font-txt15);font-weight:var(--font-regular);color:var(--color-txt03);margin-top:var(--space-8-xxs);}
.visual-wrap .btn {padding:2.2rem 8.85rem;margin-top:var(--space-40-xxl);font-size:var(--font-txt18);font-weight:var(--font-medium);z-index:10;} 
.visual-wrap + .content-area .inner-wrap {padding-top:8rem;}
.prd .txt03 {word-break:keep-all;}
.prd-info-wrap {display:flex;flex-direction: column;}
.prd-info-wrap .prd-info-txt .txt1 {display:block;font-size:var(--font-headline32);font-weight:var(--font-semibold);word-break:keep-all;}
.prd-info-wrap .prd-info-txt .txt2 {display:block;font-size:var(--font-title20);font-weight:var(--font-medium);margin-top:var(--space-40-xxl);word-break:keep-all;}
.prd-info-wrap .prd-info-txt + .title-h2 {margin-top:4.0rem;}
.prd-info-wrap .info-title {line-height: 1.334;vertical-align:middle;font-weight:var(--font-regular);color:var(--color-txt01);font-size:var(--font-title24);margin-bottom:var(--space-4-min);}
.prd-info-wrap .txt {color:var(--color-txt02);}
.prd-info-wrap .white-note-wrap {display:flex;gap:var(--space-24-lg);}
.prd-info-wrap .white-note {display: inline-flex;gap: var(--space-24-lg);flex:1 1 0;}
.prd-info-wrap .white-note:before {content: '';display:block;flex-shrink:0;width:10rem;height:8.0rem;background-size:auto calc(10.0rem * 2);background-repeat:no-repeat;background-image:url('../images/icon/ico-100-80.svg');}
.prd-info-wrap .white-note .ico-medal {background-color:var(--color-bg-blue02);padding:.5rem 1.2rem .5rem 2.5rem;font-size:var(--font-txt14);color:var(--color-primary);border-radius:var(--radius-6-sm);}
.prd-info-wrap .white-note .ico-medal:before {top:.5rem;margin-left:.5rem;}
.compliance-number-wrap {margin-top:3.2rem;}
.compliance-number-wrap p {font-size:var(--font-txt14);font-weight:var(--font-regular);color:var(--color-txt02);line-height:1.35;}

/* 주택화재보험 - option-visual8 */
.visual-wrap.option-visual8 {background-image:linear-gradient(180deg, #FFF5F4 0%, #FBE2E0 100%);}
.visual-wrap.option-visual8 .device-pc {right:-10.0rem;bottom:0;width:80.0rem;height:34.9rem;}
.visual-wrap.option-visual8 .txt-cont span {color:#EE473E;}
.visual-wrap.option-visual8 + .content-area .prd-info-wrap .white-note:nth-child(1):before {background-position:-28.0rem -12.0rem;}
.visual-wrap.option-visual8 + .content-area .prd-info-wrap .white-note:nth-child(2):before {background-position:-42.0rem -12.0rem;}


/******************* sub 공통 *******************/
.form + .title-h2 {margin-top:1.6rem;}
.title-sub.option-line {margin-top:6.0rem;}
.title-h2 {margin-bottom:2.4rem;}
.form + .title-h4 {margin-bottom:2rem;}
.title-h4:first-child {margin-top:0;}
.card.option-data[class*="option-step"] + .title-h2 {margin-top:6.0rem;}
.btn-group.option-min.space-mt-xxl + .title-h2 {margin-top:6.0rem;}
.ico-bullet {position:relative;padding-left:var(--space-8-xxs);word-break:keep-all;}
.ico-bullet.body-txt {font-size:var(--font-txt16);font-weight:var(--font-regular);}
.ico-bullet::before {content:'';position:absolute;top:1.2rem;left:0;display:inline-block;width:.3rem;height:.3rem;margin-top:-.2rem;background-color:var(--color-txt05);border-radius:100%;vertical-align:middle;}
.card.option-data + .title-h4, .body-txt + .title-h4, .list.depth-u1 + .title-h4 {margin-top:6.0rem;}
.title-h4 + .body-txt {margin-top:var(--space-20-md);}
.form.space-reset-padding + .list-head.option-row {margin-top:6.0rem;}
.body-txt + .box.option-bg {margin-top:var(--space-32-xl);}
.select-box {max-width:38.4rem;margin:6.0rem auto 0;}
.bbs-content .data + .list-head.option-bbs {margin-top:6.0rem;}
.data + .table-noti {margin-top:2.0rem;}
.list-head.option-bbs,
.note.hp-note.option-title {margin-top:6.0rem;}
.list-head.option-bbs:first-child {margin-top:0;}
.list.depth-dl {margin-top:3.2rem;padding-top:3.2rem;border-top:.1rem solid var(--color-bg-grey04);}
.title-h2 + .body-txt,
.title-h2 + .box {margin-top:2.4rem;}
.img-wrap + .list-head {margin-top:4.0rem;}
.title-h2.space-mt-xxl {margin-top:6.0rem !important;}
.group {font-size:var(--font-txt16);font-weight:var(--font-regular);}

.img-wrap {text-align:center;}
.img-wrap img {max-width:100%;}
.img-wrap img[src$=".gif"], .img-wrap img[src$=".png"], .img-wrap img[src$=".jpg"] {
	image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:crisp-edges;-ms-interpolation-mode:nearest-neighbor;transform:translateZ(0);backface-visibility:hidden;
}

.white-box, .icon-box > li {background-color:var(--color-white);border-radius:var(--radius-16-lg);}
.gray-box {background-color:var(--color-bg-grey05);border-radius:var(--radius-16-lg);border:.1rem solid var(--color-line03);}
.line-box {background-color:var(--color-white);border-radius:var(--radius-16-lg);border:.1rem solid var(--color-line02);}

/* 사진 목록 */
.pic-list,
.pic-list > li.pic-half {display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;gap:1.2rem;}
.pic-list > li {width: calc(100% / 2 - 1.2rem);text-align:center;}
.pic-list > li.pic-half img {width:calc(100% / 2 - 1.2rem);}
.pic-list img {border-radius:var(--radius-16-lg);width:100%;}

/* 이벤트 안내 */
.event-wrap {padding:var(--space-24-lg) var(--space-40-xxl);border:var(--line-1-sm) solid var(--color-line02);border-radius:100.0rem;min-height:9.5rem;margin-bottom:var(--space-24-lg);position:relative;}
.event-wrap > * {display:inline-block;vertical-align:top;word-break:keep-all;}
.event-wrap .event-badge {width:9.0rem;height:2.6rem;background-size:auto 2.6rem;margin-right:var(--space-30-xl);}
.event-wrap .event-title {font-size:var(--font-title20);font-weight:var(--font-semibold);color:var(--color-txt01);letter-spacing:-.08rem;margin-right:5.0rem;}
.event-wrap .event-info .note-list > li {font-size:var(--font-txt16);font-weight:var(--font-regular);color:var(--color-txt02);}
.event-wrap .event-info .note-list > li + li {padding-top:0;}
.event-wrap .event-info .note-list > li > strong {font-weight:var(--font-medium);}
.event-wrap .event-info .note-list > li > strong::after {content:' : ';display:inline;}
.event-wrap .event-info .note-list > li .block {display:inline !important;}
.event-wrap .event-date {position:absolute;top:5.2rem;left:16.0rem;font-size:var(--font-txt14);font-weight:var(--font-regular);color:var(--color-txt04);}
.event-wrap.naver {border-color:#00DE5A;}
.event-wrap.naver .event-badge {background-image:url('../images/npay-event-badge.png');}

/* 상품안내 > 가입 전 확인해 주세요 */
.prd-note-wrap {position:relative;display:flex;flex-direction:row;align-items:center;margin-top:var(--space-60-xmax);}
.prd-note-wrap .title-h2 {flex-shrink:0;margin-right:7.0rem;position:relative;margin-bottom:0;} 
.prd-note-wrap .title-h2::before {content:'';display:inline-block;vertical-align:middle;margin-right:1.0rem;width:2.4rem;height:2.4rem;background:url('../images/icon/icon-note.svg') no-repeat;background-size:2.4rem 2.4rem;}
.prd-note-wrap .btn-group {display:inline-block;}
.prd-note-wrap .btn-group .btn {margin-right:2.4rem;min-width:23.0rem;}
.prd-note-wrap .btn-group .btn + .btn {margin-left:0;}
.prd-note-wrap .btn-group .btn > span {line-height:1.5;}
.prd-note-wrap .btn-group .btn:last-child {margin-right:0;}


/* Tablet */
@media all and (min-width:769px) and (max-width:1199px) {
	/******************* 회사소개 *******************/
	.brand div[class*="brand0"] .group span {display:inline;}
	.brand01 .box.option-bg.option-half .title-h3 {width:32.0rem;}
	.brand01 .box.option-bg.option-half .title-h3 > .txt span,
	.brand04 .icon-box.icon-list span > span {display:block;}
	.brand02 .headline-xs > .txt18 span {display:inline;}
	.brand04 .headline-xs > * {display:inline !important;}
	.mission .line-box-wrap.option-column > li .txt16 > span,
	.vision  .line-box-wrap.option-column > li .txt16 > span {display:inline;}
	.contribution .pic-list {flex-wrap:nowrap;}

	/******************* 상품안내 *******************/
	.visual-body {width:var(--width-100per);}
	.prd-info-wrap .white-note .txt .block {display:inline !important;}
	.prd-info-wrap .white-note .txt .MbBlock {display:block;} 
}

@media all and (min-width:769px) and (max-width:1023px) {
	/******************* 상품안내 *******************/
	.visual-wrap.option-visual8 .mark-img {right:0;top:3.0rem;width:7.9rem;height:7.9rem;} 

	/******************* 보험금 청구안내 *******************/
	.insuranceClaim .card-item.step-type1::before {background-position:-21.6rem 0;}
	.insuranceClaim .card-item.step-type2::before {background-position:-28.8rem 0;}
	.insuranceClaim .card-item.step-type3::before {background-position:-7.2rem 0;}
	.insuranceClaim .card-item.step-type4::before {background-position:-35.9rem 0;}
	.insuranceClaim .card-item.step-type5:before {background-position:0 0;}
	.insuranceClaim .card-item.step-type6:before {background-position:-7.5rem 0;}
	.insuranceClaim .card-item.step-type7:before {background-position:-14.9rem 0;}
}

@media all and (min-width:1024px) and (max-width:1199px) {
	/******************* 상품안내 *******************/
	.prd-info-wrap .white-note .txt .MbBlock {display:block;} 
	.visual-wrap.option-visual8 .mark-img {right:0;top:3.0rem;width:7.9rem;height:7.9rem;} 

	/******************* 보험금 청구안내 *******************/
	.insuranceClaim .card-item.step-type1::before {background-position:-21.6rem 0;}
	.insuranceClaim .card-item.step-type2::before {background-position:-28.8rem 0;}
	.insuranceClaim .card-item.step-type3::before {background-position:-7.2rem 0;}
	.insuranceClaim .card-item.step-type4::before {background-position:-35.9rem 0;}
}

@media all and (min-width:769px) and (max-width:1199px) {
	/* 이벤트 안내 */
	.event-wrap {padding:var(--space-24-lg);border-radius:var(--radius-16-lg);}
	.event-wrap > [class^="event-"] {margin-right:0;}
	.event-wrap .event-title {margin-left:var(--space-6-min);vertical-align:middle;}
	.event-wrap .event-info {display:block;margin-top:var(--space-12-xs);}
	.event-wrap .event-info .note-list > li + li {padding-top:var(--space-4-min);}
	.event-wrap .event-date {position:relative;top:auto;left:auto;display:block;margin-top:var(--space-4-min);}

	/* 상품안내 > 가입 전 확인해 주세요 */
	.prd-note-wrap {flex-direction:column;align-items:flex-start;} 
	.prd-note-wrap .title-h2 {margin-right:0;margin-bottom:2.4rem;} 
	.prd-note-wrap .btn-group .btn {margin-right:2.4rem;min-width:23.0rem;}
}

/* Mobile */
@media all and (max-width:768px) {
	/******************* 회사소개 *******************/
	/* 브랜드 */
	.brand div[class*="brand0"],
	.brand div[class*="brand0"] > .inner-wrap {flex-direction:column;}
	.brand div[class*="brand0"] .headline-xs {flex-basis:auto;width:var(--width-100per);padding-right:0;font-size:var(--font-title24);margin-bottom:2.4rem;}
	.brand div[class*="brand0"] .group {flex-basis:auto;width:var(--width-100per);}
	.brand div[class*="brand0"] .txt18 {font-size:var(--font-txt16) !important;}
	.brand div[class*="brand0"] .group span {display:inline;}
	.brand .white-box, .brand .gray-box {padding:2.4rem;}

	.brand01 .headline-xs > span {display:inline !important;}
	.brand01 .txt18 > .MbBlock {display:block !important;}
	.brand01 .box.option-bg.option-half {gap:.5rem;}
	.brand01 .box.option-bg.option-half .title-h3 > .txt {font-size:var(--font-txt18)}

	.brand02 .headline-xs > .txt18 {font-size:var(--font-txt16) !important;line-height:2.4rem !important;margin-top:1.6rem;}
	.brand02 .headline-xs > .txt18 span {display:inline;}
	.brand02 .white-box {margin-bottom:1.6rem;flex-direction:column;gap:.8rem;}
	.brand02 .white-box .title-lg {font-size:var(--font-txt18) !important;}
	.brand02 .white-box .list.depth-u1 > li {margin-top:.2rem;}

	/* 브랜드 - History */
	.brand03 .history-list {margin-top:4.0rem;}
	.history-list > li {padding-bottom:3.2rem;}
	.history-list .month,
	.history-list > li .txt {font-size:var(--font-txt14);}

	/* 브랜드 - 주요 Business */
	.brand04 .headline-xs > * {display:inline !important;}
	.brand .cont-list > li {margin-bottom:4.0rem;}
	.brand .cont-list > li .title-lg {font-size:var(--font-title18) !important;margin-bottom:.8rem;}
	.brand .cont-list .icon-box.icon-list {margin-top:2.4rem;margin-right:-1.6rem;}
	.brand .icon-box.icon-list {gap:0;}
	.brand .icon-box.icon-list > li {padding:1.6rem 0;min-width:calc(100% / 2 - 1.6rem);min-height:10.2rem;margin:0 1.6rem 1.6rem 0;}
	.brand .icon-box.icon-list > li::before {margin-bottom:.8rem;}
	.brand .icon-box.icon-list > li span {line-height:1.35;}
	.brand .icon-box.icon-list > li span,
	.brand .icon-box.icon-list > li em {display:block !important;}
	.brand .cont-list .white-box.option-half {align-items:flex-start;gap:1.0rem;flex-direction:column;}
	.brand .cont-list .white-box.option-half .title-h3 {margin:0 auto;}

	/* 브랜드 - BI 소개 및 다운로드 */
	.brand05 .group {width:var(--width-100per);}
	.brand05 .gray-box {display:flex;flex-direction:column;justify-content:center;align-items:center;gap:2.4rem;}
	.brand05 .logo-img img {width:22.0rem;height:3.2rem;}
	.brand05 .btn {min-width:auto;}

	/* 사회공헌 */
	.contribution .headline-xs {font-size:var(--font-title24);margin-bottom:2.4rem;}
	.contribution .headline-xs > span {display:block;}
	.contribution .line-box-wrap > li .txt16 > span {display:block;}
	.contribution .txt18 {font-size:var(--font-txt16) !important;line-height:2.4rem !important;margin-top:1.6rem;}
	.contribution .txt18 + .headline-xs,
	.contribution .line-box-wrap + .headline-xs,
	.contribution .pic-list + .headline-xs {margin-top:4.0rem;}
	.contribution .line-box-wrap .line-box {text-align:center;}
	.contribution .line-box-wrap .line-box:first-child {margin-top:0;}
	.contribution .line-box-wrap > li {width:100%;flex-direction:column;justify-content:center;}
	.contribution .pic-list {margin-top:2.4rem;}
	.contribution .pic-list .pic-half img {max-width:calc(100%/ 2 - .8rem);width:calc(100%/ 2 - .8rem);}
	.contribution .pic-list > li img {max-width:100%;}

	/* 제휴문의 */
	.partnership .headline-xs {font-size:var(--font-title24);}
	.partnership .headline-xs > span {display:block;}
	.partnership .txt18 {margin:1.6rem 0 3.2rem;font-size:var(--font-txt16) !important;line-height:2.4rem !important;}
	.partnership .card.option-step3 .card-title .key,
	.partnership .card.option-step3 .card-title .txt {line-height:1.3 !important;}
	.partnership .card-item.step-type1 .card-title:before {background-position:0 0;}
	.partnership .card-item.step-type2 .card-title:before {background-position:-6.6rem 0;}
	.partnership .card-item.step-type3 .card-title:before {background-position:-13.2rem 0;}

	/* 신한 WAY2.0 */
	.shinhanezWay .headline-xs {margin-top:3.2rem;font-size:var(--font-title24) !important;}
	.contribution .line-box img,
	.shinhanezWay .line-box img,
	.coreValue .line-box img {max-width:100%;}
	.contribution .line-box-wrap.option-row,
	.shinhanezWay .line-box-wrap.option-row,
	.coreValue .line-box-wrap.option-row {flex-direction:column;gap:0;}
	.shinhanezWay .line-box-wrap .line-box,
	.coreValue .line-box-wrap .line-box {text-align:left;}
	.shinhanezWay .line-box-wrap > li,
	.coreValue .line-box-wrap > li {width:100%;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;}
	.shinhanezWay .line-box-wrap > li img,
	.coreValue .line-box-wrap > li img {width:8.0rem;}
	.shinhanezWay .line-box-wrap > li .title-h4,
	.coreValue .line-box-wrap > li .title-h4 {margin:.8rem 0 .4rem 1.6rem;}
	.contribution .line-box-wrap > li .txt16,
	.shinhanezWay .line-box-wrap > li .txt16,
	.coreValue .line-box-wrap > li .txt16 {font-size:var(--font-txt14) !important;}
	.shinhanezWay .line-box-wrap > li:nth-child(2) .txt16,
	.coreValue .line-box-wrap > li:nth-child(2) .txt16,
	.shinhanezWay .line-box-wrap > li:nth-child(3) .txt16,
	.coreValue .line-box-wrap > li:nth-child(3) .txt16 {width:12.0rem;}

	/* 미션 */
	.mission .txt18 > span {display:inline;}
	.mission .img-wrap {margin:4.0rem 0;}
	.mission .line-box {padding:2.4rem;}
	.mission .line-box-wrap.option-column {flex-direction:column;gap:1.6rem;}
	.mission .line-box-wrap.option-column > li {flex-direction:column;justify-content:flex-start;gap:.8rem;margin-top:1.6rem;}
	.mission .line-box-wrap.option-column > li:first-child {align-items:flex-start;}
	.mission .line-box-wrap.option-column > li .title-h2 {width:100%;}
	.mission .line-box-wrap.option-column > li .title-h2 > .txt {font-size:var(--font-title18) !important;}
	.mission .line-box-wrap.option-column > li .txt16 {width:100%;font-size:var(--font-txt14) !important;line-height:2.1rem !important;}
	.mission .line-box-wrap.option-column > li .txt16 > span,
	.vision  .line-box-wrap.option-column > li .txt16 > span {display:inline;}

	/* 비전 */
	.vision .img-wrap {margin-top:0;margin-bottom:4.0rem;}
	.vision .line-box-wrap.option-column {margin-top:4.0rem;}
	.vision .line-box-wrap.option-column > li {flex-direction:column;justify-content:flex-start;gap:.8rem;}
	.vision .line-box-wrap.option-column img {max-height:2.2rem;}
	.vision .line-box-wrap.option-column .title-h4 {width:100%;margin-top:.8rem;}
	.vision .line-box-wrap.option-column .txt16 {font-size:var(--font-txt14) !important;line-height:2.1rem !important;}

	.mission .headline-xs,
	.vision .headline-xs {font-size:var(--font-title24) !important;line-height:3.24rem !important;}
	.shinhanezWay .title-lg,
	.coreValue .title-lg,
	.vision .title-lg {font-size:var(--font-title18) !important;}
	.mission .txt18,
	.vision .txt18 {margin-top:1.6rem;font-size:var(--font-txt16) !important;line-height:2.4rem !important;}
	.contribution .line-box,
	.shinhanezWay .line-box,
	.coreValue .line-box,
	.vision .line-box {margin-top:1.6rem;padding:2.4rem;}

	/******************* 보험금 청구안내 *******************/
	.insuranceClaim .card-item.step-type1:before {background-position:-19.9rem 0;}
	.insuranceClaim .card-item.step-type2:before {background-position:-26.4rem 0;}
	.insuranceClaim .card-item.step-type3:before {background-position:-6.6rem 0;}
	.insuranceClaim .card-item.step-type4:before {background-position:-32.9rem 0;}
	.insuranceClaim .card-item.step-type5:before {background-position:0 0;}
	.insuranceClaim .card-item.step-type6:before {background-position:-7.5rem 0;}
	.insuranceClaim .card-item.step-type7:before {background-position:-14.9rem 0;}

	/******************* 상품안내 *******************/
	#content section.visual-wrap {overflow:hidden;height:48rem;padding:0;}
	.visual-body {display:block;width:var(--width-100per);padding:4rem 2rem 0;}
	.prd-info-wrap {flex-direction:column;margin-bottom:1.6rem;}
	.prd-info-wrap .white-note .info-title {font-size:var(--font-txt18);margin-bottom:var(--space-4-min);}
	.prd-info-wrap .white-note:before {width:4.4rem;height:4.4rem;margin-top:0;background-size:auto calc(10.0rem * 1);}
	.visual-wrap .txt-cont {gap:var(--space-4-min);}
	.visual-wrap .txt-cont strong {font-size:var(--font-title24);line-height:3.24rem;}
	.visual-wrap .txt-cont strong .title-lg {font-size:var(--font-title18) !important;}
	.visual-wrap .txt-cont span {font-size:var(--font-title16);}
	.visual-wrap .prd-list {margin-top:var(--space-8-xxs);gap:.6rem;}
	.visual-wrap .prd-list > li {letter-spacing:-.08rem;}
	.visual-wrap .txt-refer {font-size:var(--font-txt14);}
	.visual-prd.device-pc {display:none;}
	.visual-prd.device-mo {display:block;top:calc(50% - 25rem);right:calc(50% - 38.4rem);width:76.8rem;height:48.0rem;}
	.visual-wrap .visual-body > .btn {position:absolute;right:2rem;bottom:var(--space-20-md);left:2rem;width:auto;}
	.visual-wrap .btn-wrap {position:absolute;right:2rem;bottom:var(--space-24-lg);left:2rem;}
	.visual-wrap .btn-wrap .btn {width:100%;margin:var(--space-16-sm) 0 0;}
	.visual-wrap .mo-break {display:block;}
	.visual-wrap + .content-area .inner-wrap {padding-top:var(--space-40-xxl);}
	.visual-wrap + .content-area .inner-wrap:has(.prd-info-txt) {padding-top:var(--space-32-xl);}
	.prd-info-wrap .white-note-wrap {flex-direction:column;gap:var(--space-16-sm);}
	.prd-info-wrap .block {display:inline !important;}
	.prd-info-wrap .white-note .txt .MbBlock {display:block;}
	.prd-info-wrap .prd-info-txt .txt1 {font-size:var(--font-title24);line-height:3.24rem;}
	.prd-info-wrap .prd-info-txt .txt2 {font-size:var(--font-title18);line-height:2.43rem;margin-top:2.4rem;}
	.prd-info-wrap .prd-info-txt + .title-h2 {margin-top:2.4rem;}
	.compliance-number-wrap {margin-top:2.4rem;}

	/* 주택화재보험 - option-visual8 */
	.visual-wrap.option-visual8 + .content-area .prd-info-wrap .white-note:nth-child(1):before {background-position:-14.1rem -5.7rem;}
	.visual-wrap.option-visual8 + .content-area .prd-info-wrap .white-note:nth-child(2):before {background-position:-21.3rem -5.7rem;}

	/******************* sub 공통 *******************/
	.title-sub.option-line {margin-top:4.0rem;}
	.title-h2 {margin-bottom:1.6rem;}
	.card.option-data[class*="option-step"] + .title-h2 {margin-top:3.2rem;}
	.btn-group.option-min.space-mt-xxl + .title-h2 {margin-top:3.2rem;}
	.btn-group.option-min.space-mt-xxl {
    margin-top:2.4rem !important;
    flex-wrap: nowrap;
  }
	.ico-bullet.body-txt {font-size:var(--font-txt14);}
	.card.option-data + .title-h4, .body-txt + .title-h4, .list.depth-u1 + .title-h4 {margin-top:4.0rem;}
	.form.space-reset-padding + .list-head.option-row {margin-top:4.0rem;}
	.note.hp-note.space-mt-xmax {margin-top:4.0rem !important;}
	.select-box {margin:4.0rem auto 0;}
	.title-h4 + .list.space-mt-xl {margin-top:1.6rem !important;}
	.bbs-content .data + .list-head.option-bbs {margin-top:4.0rem;}
	.list-head.option-bbs,
	.note.hp-note.option-title {margin-top:4.0rem;}
	.list.depth-dl {margin-top:2.4rem;padding-top:2.4rem;}
	.title-h2 + .body-txt,
	.title-h4 + .box {margin-top:1.6rem;}
	.list-title.title-lg {font-size:var(--font-title20) !important;}
	.title-h2.space-mt-xxl {margin-top:4.0rem !important;}

	/* 사진 목록 */
	.pic-list,
	.pic-list > li.pic-half {flex-direction:row;}
	.pic-list > li {flex-wrap:wrap;width:100%;}
	.pic-list > li.pic-half {flex-wrap:nowrap;}

	/* 이벤트 안내 */
	.event-wrap {padding:var(--space-24-lg);border-radius:var(--radius-16-lg);}
	.event-wrap > [class^="event-"] {margin-right:0;}
	.event-wrap .event-title {display:block;font-size:var(--font-title18);margin-top:var(--space-12-xs);margin-bottom:var(--space-6-min);}
	.event-wrap .event-info .note-list > li + li {padding-top:var(--space-4-min);}
	.event-wrap .event-info .note-list > li .block {display:block !important;text-indent:- var(--space-16-sm);padding-left:var(--space-16-sm);}
	.event-wrap .event-date {position:relative;top:auto;left:auto;display:block;margin-top:var(--space-4-min);}

	/* 상품안내 > 가입 전 확인해 주세요 */
	.prd-note-wrap {flex-direction:column;align-items:flex-start;} 
	.prd-note-wrap .title-h2 {margin-right:0;margin-bottom:1.2rem;}
	.prd-note-wrap .btn-group {display:flex;flex-direction:column;width:100%}
	.prd-note-wrap .btn-group .btn {display:block;margin-right:0;margin-top:1.2rem;}
}

/* Mobile 430px */
@media all and (max-width:430px) {
	/* 브랜드 - History */
	.brand03 .history-list {margin-top:4.0rem;}
	.history-list > li {padding-bottom:3.2rem;}
	.history-list > li:before {left:8.2rem;}
	.history-list .year {padding-right:3.0rem;margin-right:3.0rem;min-width:8.5rem;font-size:var(--font-title20);}
	.history-list ul > li:after {left:-4.2rem;}

	/* 브랜드 - 주요 Business */
	.brand .cont-list .icon-box.icon-list {margin-right:-.8rem;}
	.brand .icon-box.icon-list > li {padding:1.4rem 1.0rem;min-width:calc(100% / 2 - .8rem);margin:0 .8rem .8rem 0;}
	.brand .icon-box.icon-list > li:nth-child(2n) {margin-right:0;}
	.brand .icon-box.icon-list > li:nth-child(3n) {margin-right:.8rem;}
	.brand .icon-box.icon-list > li::before {margin-bottom:.6rem;}

	/* 제휴문의 */
	.copy-txt p[class*="headline-"] > span {display:inline;}

	/******************* sub 공통 *******************/
	.select-box {max-width:100%;}
}

/* Mobile 680px */
@media all and (max-width:680px) {
	/* 상품안내 > 가입 전 확인해 주세요 */
	.prd-note-wrap .btn-group .btn {display:block;}
}
